- @race_sessions.each_with_index do |sess, idx|
  .row.race-session-panel{class: ('even' if idx.even?)}
    .col-md-3.race-session-image
      = image_tag(track_img_path(sess.track), class: 'img-responsive')#, track_path(sess.track)
    .col-md-9.race-session-info
      %p
        Status:
        - if sess.has_ended?
          %span.label.label-default Ended
        - else
          %span.label.label-success Live!
      %p Best lap: #{format_ms sess.fastest_lap.best_lap}
      %p
        Started racing:
        %span= l sess.created_at, format: :short
      - if sess.is_live?
        = button_to 'Go to the session!', user_race_session_path(@user, sess), class: 'btn btn-success', method: :get
      - else
        = button_to 'Go to the latest known session information', user_race_session_path(@user, sess), class: 'btn btn-default', method: :get
  .row
    .col-md-4.col-md-offset-4
      = paginate @race_sessions