.row
  .col-md-12{'text-align' => 'center'}
    %div#race-sess-canvas{data: {user: @race_session.user.id, 'race-session' => @race_session.id}}
      %svg{preserveAspectRatio: "xMidYMin", id: 'race-session-svg'}
.row
  .col-md-8
  .col-md-4
    .panel.panel-default
      .panel-heading Session stats
      .panel-body
        .race-sess-stats
          .race-sess-stat
            %p.race-sess-driver
              #{RaceSession.human_attribute_name('driver')}:
              %span.race-sess-driver= link_to @race_session.driver, @race_session.user
          .race-sess-stat
            %p.race-sess-track
              #{RaceSession.human_attribute_name('track')}:
              %span.race-sess-track= link_to t(@race_session.track.name, scope: [:tracks]), @race_session.track
          .race-sess-stat
            %p.race-sess-car
              #{RaceSession.human_attribute_name('car')}:
              %span.race-sess-car= t(@race_session.car, scope: [:cars])
          .race-sess-stat
            %p.race-sess-lap
              #{Lap.human_attribute_name('lap')}:
              %span.race-sess-lap= @race_session.lap_count
          .race-sess-stat
            %p.race-sess-current-lap-time
              #{Position.human_attribute_name 'lap_time' }:
              %span.race-sess-lap-time= format_ms @race_session.laps.last.positions.last.lap_time
          .race-sess-stat
            %p.race-sess-current-lap-time
              #{Position.human_attribute_name 'performance_meter' }:
              %span.race-sess-lap-time= @race_session.laps.last.positions.last.performance_meter
          .race-sess-stat
            %p.race-sess-speed
              #{Position.human_attribute_name('speed')}:
              %span.race-sess-speed= @race_session.laps.last.positions.last.km_h.round(2)
              km/h
          .race-sess-stat
            %p.race-sess-rpm
              #{Position.human_attribute_name('rpm')}:
              %span.race-sess-rpm= @race_session.laps.last.positions.last.rpm.round
              rpm
          .race-sess-stat
            %p.race-sess-gear
              #{Position.human_attribute_name('gear')}:
              %span.race-sess-gear= @race_session.laps.last.positions.last.gear
          .race-sess-stat
            %p.race-sess-on-gas
              #{Position.human_attribute_name('on_gas')}:
              %span.race-sess-on-gas
          .race-sess-stat
            %p.race-sess-on-brake
              #{Position.human_attribute_name('on_brake')}:
              %span.race-sess-on-brake